<form [formGroup]="foodForm" (ngSubmit)="onSubmit()" class ="mat-form">
  <!-- ID Field -->
  <mat-form-field appearance="outline" class="form-field" disabled>
    <mat-label>ID</mat-label>
    <input matInput type="number"  formControlName="ProductID" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field" disabled>
    <mat-label>Brand</mat-label>
    <input matInput type="text"  formControlName="Brand" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field" disabled>
    <mat-label>Name</mat-label>
    <input matInput type="text"  formControlName="ItemName" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field" disabled>
    <mat-label>Expiry Date</mat-label>
    <input matInput type="text"  formControlName="ExpiryDate" />
  </mat-form-field>


  <mat-form-field appearance="outline" class="form-field" disabled>
    <mat-label>Barcode</mat-label>
    <input matInput type="text"  formControlName="Barcode"  />
  </mat-form-field>

  <!-- Submit Button (Add or Update) -->
  <div class="button-group">

  <button mat-raised-button color="primary" type="submit">Submit</button>
  <button mat-raised-button color="primary" type="submit">Add</button>
  <button mat-button type="button" (click)="navigateToStudentList()">Back to List</button>

  </div>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,25,100]" showFirstLastButtons></mat-paginator>


</form>

