<div *ngIf="food" class="food-info-container">

  <h2 class="food-title">DataMockFood Information</h2>

  <div class="food-detail">
    <p><strong>Product ID:</strong> {{food.ProductId}}</p>
  </div>

  <div class="food-detail">
    <p><strong>Brand:</strong> {{food.Brand}}</p>
  </div>

  <div class="food-detail">
    <p><strong>Item Name:</strong> {{food.ItemName}}</p>
  </div>

  <div class="food-detail">
    <p><strong>Expiry Date:</strong> {{food.ExpiryDate}}</p>
  </div>

  <div class="food-detail">
    <p><strong>Barcode:</strong> {{food.Barcode}}</p>
  </div>

</div>
